In [1]:
import numpy as np
import pandas as pd
import os

In [9]:
for dirname, _, filenames in os.walk('C:/Users/Omar/KAGGLE/titanic/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

C:/Users/Omar/KAGGLE/titanic/input\gender_submission.csv
C:/Users/Omar/KAGGLE/titanic/input\test.csv
C:/Users/Omar/KAGGLE/titanic/input\train.csv

In [13]:
train_data = pd.read_csv('C:/Users/Omar/KAGGLE/titanic/input/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
test_data = pd.read_csv("C:/Users/Omar/KAGGLE/titanic/input/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [29]:
print("Nr of samples in training dataset:",len(train_data))
print("Nr of samples in test dataset:", len(test_data))

Nr of samples in training dataset: 891
Nr of samples in test dataset: 418

## Exploring first pattern 
### All female passengers survived (and all male passengers died)

In [32]:
women = train_data.loc[train_data.Sex == 'female']["Survived"]

In [34]:
rate_women = sum(women) / len(women)

In [36]:
print("% of women who survived: ", rate_women)

% of women who survived:  0.7420382165605095

In [40]:
# print(women)

In [42]:
men = train_data.loc[train_data.Sex == 'male']["Survived"]
print(men)

0      0
4      0
5      0
6      0
7      0
      ..
883    0
884    0
886    0
889    1
890    0
Name: Survived, Length: 577, dtype: int64

In [44]:
rate_men = sum(men) / len(men)
print("% of men who survived: ", rate_men)

% of men who survived:  0.18890814558058924

In [46]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ['Pclass', 'Sex', 'SibSp', 'Parch']
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X,y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions })
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!